*{
 margin: 0;
 padding: 0;
}

body {
 width: 100vw;
 height: 100vh;
 display:flex;
 justify-content:center;
 align-items:center;
 background: black;
}

.caja{
 position: relative;
 width: 400px;
 height: 400px;
 display:grid;
 grid-template-rows: repeat(3,1fr);
 grid-template-columns: repeat(3,1fr);
}

.item{
  border:solid 0.01px;
  background: linear-gradient(black,#2164c4);
  font-size:30px;
  color:#7dbbb3;
}

p{
 position: absolute;
 width: 90%;
 height: 80px;
 margin: auto;
 right: 0;
 left: 0;
 top:30px;
 text-align:center;
 font-size:50px;
 color: #fff;
 z-index:100;
}

































